<a href="https://colab.research.google.com/github/khatriprajwol/Data-Set/blob/main/Numeric_data_types_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Numeric Data Types**

Like other programming language, In a python we do not need to specify if our data is integer or float or string. For example.

In [123]:
x = 9
print(type(x))

<class 'int'>

In the above output you can see it gives me class int. That means my data type is integer.

In [124]:
y = 9.2
print(type(y))

<class 'float'>

Here without me mentioning it tells me that 9.2 is float. Also, there are some basic arithmetic we can do in a python Some of the examples are shown below.

##Addition

In [125]:
print(3 +4)

7

##Subtraction

In [126]:
print(3-4)

-1

##Multiplication

In [127]:
print(3*4)

12

##Division

In [128]:
print(4/3)
print(3/4)

1.3333333333333333
0.75

##Floor Division 
Does not return decimals.

In [129]:
print(4//3) #floor division
print(4/3) #regular division

1
1.3333333333333333

Did you see the difference?

##Exponent

In [130]:
print(9 ** 2)

81

It is raised to the power of 2. It is similar to 9^2.

##Modulus

It gives us remainder. 

##Where can we use it?
We can use it to find if our number is odd or even.

In [131]:
print(4%3)

1

In [132]:
print(4%2)

0

In [133]:
print(4%4)

0

In [134]:
print(5%4)

1

In the above examples you can see a trend that if one number is odd then it returns 1. And if both of my numbers are even then it returns 0. Except for the expression like this: `**print(4%1)**`

##Incriminating Variable

In [135]:
x = 2
x = x+2
print(x)

4

##Different process but same result

In [136]:

x = 2
x+=2
print(x)

4

In [137]:
x = 2
x*=2
print(x)

4

##Absolute Value

In [138]:
print(abs(-4))

4

##Rounding up the number
It rounds up the decimal to nearest value.

In [139]:
print(round(10.34))

10

In [140]:
print(round(10.75))

11

##Notice the difference in above two examples?

##For one decimal place

In [141]:
print(round(10.75,1)) # for 1 decimal place

10.8

##For two decimal place

In [142]:
print(round(10.75,2)) # for 1 decimal place

10.75

#**Comparisons**

In [143]:
x = 2
y = 3

##Equal (x == y)

In [144]:
print( x == y)

False

It returns False because x and y are not equal.

##Not Equal (x != y)

In [145]:
print(x != y)

True

It returns True because x and y are not equal.

##Greater Than (x > y)

In [146]:
print(x>y)

False

##Less Than (x < y)

In [147]:
print(x<y)

True

##Greater Than or Equal (x >= y)

In [148]:
print(x >= y)

False

##Less Than or Equal (x <= y)

In [149]:
print(x <= y)

True

#Variable looks like number

In [150]:
x = '200'
y = '300'

In [151]:
print( x + y)

200300

Did you notice why it did not print 500? It is because I explicitly set it as a *string* not a *number*.

##How to solve this issue?
We can use casting. Here is how we can do it.

In [152]:
x = '200'
y = '300'

x = int(x) # I casted my string to integer. 
y = int(y) # I casted my string to integer. 

print(x + y)

500

#What if my value had commas?

In [153]:
x = '2,000'
y = '3,000'

x = int(x) # I casted my string to integer. 
y = int(y) # I casted my string to integer. 

print(x + y)

ValueError: ignored

It returned error message saying, "invalid literal for int() with base 10: '2,000'". The same method did not work. That is why we need to use something called data cleaning. Here is an example how we do it.

In [154]:
x = '2,000'
y = '3,000'

x = '2000'
y = '3000'

x = int(x) # I casted my string to integer. 
y = int(y) # I casted my string to integer. 

print(x + y)

5000

#What if we have a large data set with similar case? Can we list it as one-by-one like this?
Well, the answer is big **NO**.

For the string cleaning this is one way of doing it. 

**https://github.com/khatriprajwol/Data-Set/blob/main/Stringcleaning.ipynb**